<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="about">
          <h1 class="page-heading">{{ page.title }}</h1>
          {{ content }}
          <table
              style="
                width: 100%;
                border: 00px;
                border-spacing: 0px;
                /* cellspacing: 10; */
                /* border-collapse: separate; */
                margin-right: auto;
                margin-left: auto;
              "
              align: right;
            >
        <div id="Projects"></div>
        <tbody>
          <tr>
            
            <td style="padding: 10px; width: 90%; vertical-align: right; text-align:right">
              <br />
              <!-- <hr /> -->
            </td>
          </tr>
        </tbody>
          <tbody>
            <tr>
              
              <td style="padding: 10px; width: 60%; vertical-align: right; text-align:right">
                <projecttitle
                  >Tsinghua University</projecttitle
                >
                <br />
                <p>
                  <pintro>
                    Computer Science, Institute for Interdisciplinary Information Sciences
                  </pintro>
                </p>
                <!-- <hr /> -->
              </td>
              <td style="padding: 10px; width: 80%; vertical-align: right; text-align:right">
                <img src="/assets/img/thu.jpg" width="200" />
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              
              <td style="padding: 10px; width: 60%; vertical-align: middle; text-align:right">
                <projecttitle
                  >Xiamen University</projecttitle
                >
                <br />
                <p>
                  <pintro>
                    Artificial Intelligence, School of Informatics
                  </pintro>
                </p>
                <!-- <hr /> -->
              </td>
              <td style="padding: 10px; width: 80%; vertical-align: right; text-align:right">
                <img src="/assets/img/xmu.jpg" width="50" />
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              
              <td style="padding: 10px; width: 60%; vertical-align: middle; text-align:right">
                <!-- <projecttitle
                  ></projecttitle
                > -->
                <br />
                
                <!-- <hr /> -->
              </td>
              <td style="padding: 10px; width: 80%; vertical-align: right; text-align:right">
                <p>
                  <pintro>
                    渊澄
                    取映
                  </pintro>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>